<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if not title %}
    <title>Shellmancer</title>
  {% else %}
    <title>Shellmancer | {{title}}</title>
  {% endif %}

  <link href="static/css/slate.css" type="text/css" rel="stylesheet">
  <link href="static/css/bullstrap.css" type="text/css" rel="stylesheet">
  <link href="static/css/responsive.css" type="text/css" rel="stylesheet">
  <link href="static/css/ripped_google_fonts.css" type="text/css" rel="stylesheet">
  <link href="static/css/style.css" type="text/css" rel="stylesheet">

</head>
<body>

<!--&lt;!&ndash; Cover Image.  &ndash;&gt;-->
<!--<div class="wrapper">-->
<!--  <div class="inner">-->
<!--    &lt;!&ndash; <img src="img/test.svg" width="100%" class="fixed-top"> &ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;  &ndash;&gt;-->

<!-- Top Menubar Element -->
{% if current_user.is_authenticated %}
  {% include 'menu.html' %}
{% endif %}
<!--  -->

<!-- Binary Heading Piece -->
{% include 'header.html' %}


<!-- Div Creates the Outer Margins on the left and right at full size viewport -->
<div class="container" width="100%">



  <!-- The inner background behind the side bar and the content space -->
  <div class="container-fluid vertical-wrap">

    <div id="leftbar-alt">
          {% block leftbaralt %}{% endblock %}
    </div>
    <div class="row">



      <!-- Old Flash Message Spot -->

      <!-- Leftbar -->
      <div id="leftbar"
           class="col-xs-0 col-sm-0 col-md-0 col-lg-3 col-xl-3">
        {% block sidebar %}{% endblock %}
      </div>

      <!-- Content -->

      <div id="contentbar"
           class="col-xs-0 col-sm-12 col-md-12 col-lg-7 col-xl-7">



         <!--Flash Messages-->
<!--        <div class="card">-->
<!--         <div class="card-body">-->
<!--           -->
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=True) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-dismissible alert-{{category}}" style="width:100%;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <small>
                          <strong>
                            {{ message }}
                          </strong>
                        </small>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            </div>

    <!--  Next Card  -->
         {% block content %}{% endblock %}

        <div id="rightbar-alt" class="mt-3 mb-3">
          {% block rightbaralt %}{% endblock %}
      </div>

      </div>

<!-- Rightbar -->
      <div id="rightbar"
           class="col-xs-0 col-sm-2 col-md-2 col-lg-2 col-xl-2">

        {% block buttons %}{% endblock %}

      </div>
    </div>
  </div>
</div>


<!-- Bottom Fixed -->
<div class="fixed-bottom">
  <!-- Vanilla Terminal  -->
  <div id="vanilla-terminal" class="default-off"></div>

  </div>
</div>

<!--  -->


  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>

  <script src="static/js/vanilla-terminal.js"></script>
  <script src="static/js/my-script.js"></script>
  <script src="static/js/toggle-term.js"></script>
</body>
</html>
