{% extends 'base.html' %}

{% block sidebar %}
  {% if current_user.id != campaign.gamemaster.user.id %}
    {% include 'player_side.html' %}
  {% endif %}
  {% include 'campaign_side.html' %}
{% endblock %}

{% block content %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Attributes</th>
      <th scope="col">Devices</th>
      <th scope="col">Contacts</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div class="card">
 <div class="card-body">
  <h2 class="card-title text-success">{{ campaign.name }}</h2>
   <h6 class="card-subtitle mb-2 text-muted">{{ campaign.descrip }}</h6>
   <hr>
   <div class="tab-content">
    <div id="one" class="card-text tab-pane fade show active">
<!--      -->
    </div>

   <div id="two" class="card-text tab-pane fade">
<!---->
    </div>
   </div>

     </div>
   </div>



{% endblock %}



{% block buttons %}

        <a href="#">
            <div class="btn btn-success" data-toggle="modal" data-target="#characterWizard1">
              Make Character
            </div>
        </a>

  <script src="{{ url_for('static', filename='js/randombars.js') }}"></script>

{% endblock %}
