
<div class="container mb-3">
  <div class="row center">

    {% if character_count < 1 %}
      <a href="#">
          <div class="btn btn-success" data-toggle="modal" data-target="#characterWizard1">
            Play Now
          </div>
      </a>
    {% else %}
        <a href="#">
          <div class="btn btn-purple" data-toggle="modal" data-target="#characterWizard1">
            Your Characters
          </div>
      </a>
    {% endif %}

  </div>
</div>


<div class="nav">
  <a href="#one" data-toggle="tab" class="btn btn-primary nav-link active">Introdction</a>
  <a href="#two" data-toggle="tab" class="btn btn-primary nav-link">Change This</a>
</div>

<div class="container">
  <div class="row center">

    <div class="btn-group-sm center mt-3">



    </div>
  </div>
</div>

{% include 'character_wizard_modals.html' %}