{% extends 'base.html' %}

{% block sidebar %}
  {% include 'campaign_side.html' %}
{% endblock %}

{% block content %}
  {{ campaign.name }}
{% endblock %}

{% block buttons %}
{% if current_user.id == campaign.gamemaster.user.id %}
  <a href="{{ url_for('new_campaign') }}">
    <div class="btn btn-danger">
      Delete Campaign
    </div>
  </a>
{% else %}
  <a href="{{ url_for('new_campaign') }}">
      <div class="btn btn-info">
        Make Character
      </div>
  </a>
{% endif %}
{% endblock %}
