{% extends 'base.html' %}

{% block morestyle %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
      integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">{% endblock %}

{% block sidebar %}
  {% if not current_user.is_authenticated %}
    {% include 'register_form.html' %}
  {% else %}
    {% include 'game_accordion.html' %}
  {% endif %}
{% endblock %}

{% block collapse %}<!-- {% include 'mission_nav.html' %} --><h2></h2>{% endblock %}

{% block content %}

<div class="jumbotron">

  <div class="tab-content">
    <div id="one" class="card-text tab-pane fade show active">

      <div class="center">
        <h4 class="font-inline">
          Spend <span id="remaining-points" class="text-info"></span> points on primary attributes. </h4>
      </div>

      <hr class="my-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h5 class="font-orbitron ml-5">
              meat: <span id="attribute-one" class="text-danger font-inline display"></span>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="btn btn-sm center btn-primary" onclick="reducePoints(getWizardBar1, attr1)">
              <i class="fa fa-minus fa-sm" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-8">
            <div class="progress bg-primary" id="wizardProgress1">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" id="wizardBar1"
                   role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
            </div>
          </div>
          <div class="col-2">
            <div class="btn btn-sm center btn-primary" onclick="increasePoints(getWizardBar1, attr1)">
              <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h5 class="font-orbitron ml-5">
              l33t: <span id="attribute-two" class="text-success font-inline"></span>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="btn btn-sm center btn-primary" onclick="reducePoints(getWizardBar2, attr2)">
              <i class="fa fa-minus fa-sm" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-8">
            <div class="progress bg-primary" id="wizardProgress2">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="wizardBar2"
                   role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
            </div>
          </div>
          <div class="col-2">
            <div class="btn btn-sm center btn-primary" onclick="increasePoints(getWizardBar2, attr2)">
              <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h5 class="font-orbitron ml-5">
              street: <span id="attribute-three" class="text-purple font-inline"></span>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="btn btn-sm center btn-primary" onclick="reducePoints(getWizardBar3, attr3)">
              <i class="fa fa-minus fa-sm" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-8">
            <div class="progress bg-primary" id="wizardProgress3">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-purple" id="wizardBar3"
                   role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
            </div>
          </div>
          <div class="col-2">
            <div class="btn btn-sm center btn-primary" onclick="increasePoints(getWizardBar3, attr3)">
              <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="two" class="card-text tab-pane fade">

      <div class="center">
        <h4 class="font-inline">
          A thorough <span class="text-info">background</span> screen... </h4>

        <p>All offers of employment at EPI are contingent upon clear results of a thorough background check.
           Background checks will be conducted on all final candidates and on all employees who are promoted, as deemed necessary.</p>

        <p>Background checks will include: </p>

        <hr pt-2>

        <code class="font-share">"Shit"<span class="text-muted">, you say to yourself.</span></code>

        <hr pb-2>

        <p>Background check information will be maintained in a file separate from employees' personnel files for a minimum of five years. EPI reserves the right to modify this policy at any time without notice. </p>

        <hr pt-2>

        <code class="font-share">"Fucking shit..."
          <span class="text-muted">, you say again more loudly this time, skimming the document down to the bottom.</span></code>

        <hr pb-2>

        <p>"Do you consent to a criminal background check? Do you permit use of your data, which may not lawfully be used against you nor to determine the nature of your employment, but which may be published later on our websites for public usage. All parties are in agreement that we may freely look into the matter at no diservice to the applicant. We remind you that you are not required to answer."</p>

        <hr pt-2>

        <blockquote>
          <span class="text-muted">You are reading the question now that says, </span>"In the last seven years, have
                                                                                      you been convicted of a felony
                                                                                      or completed probation for an
                                                                                      arrest for which you were not
                                                                                      convicted?"
        </blockquote>

        <hr pb-2>

        <div class="container btn-group center" ml-3>

          <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"
                  data-placement="left" data-trigger="focus" title="That says a lot..."
                  data-content="Do you think they'll not find out on their own? How does it look if you have to pretend like it didn't happen. It did. How could they bring something like this up?"
                  data-original-title="That says a lot..." onclick="showElem(false)">Admit nothing
          </button>

          <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"
                  data-placement="right" data-trigger="focus" title="Can you even do that?"
                  data-content="How honest will you be thought? Will you spin it a certain way or will you paint it clearly -- how it really happened. Is that even possible for you to consider?"
                  data-original-title="Can you even do that?" onclick="showElem(true)">Be honest...
          </button>
        </div>

        <hr p-5>
        <p class="p-2"></p>
        <code class="m-1 text-info">You're not certain yet.<br>You haven't spoken of this in nearly five years.</code>

        <hr p-3>

        <p>You will have an opportunity to decide the circumstances that your character was formerly charged with something that you will have had mixed feelings about for many years now. Whether or not you were guilty, if you were justly accused, if you made a horrible mistake, or you utterly deserved it is somewhat in question at this point in the narrative. You are the one who questions how you feel about it.</p>

        <p>Several months of hard labor ended with an employee contract and you've been working for Vertico ever since. What the circumstances were was not an assessment you have ever had the luxury of facing often. To be silent about what happened was by necessity. And if it was wrong or right, if you were framed or innocent, it doesn't matter now. It's been a long time.</p>

        <hr p-3>

        <p>
          That time is coming to an end. This is your last week on board the formerly International Space Station, where you have worked for just under seven years. Most likely, you will not make it out alive. Not on your own. </p>

        </li>
        </ul>

      </div>

      <hr class="my-4">
      <div class="container"></div>
    </div>

    <div id="three" class="card-text tab-pane fade">

      <div class="center">
        <h4 class="font-inline">
          You Have <span class="text-info"">2</span> Things to Your Name... </h4>
      </div>
      <hr class="my-4">
      <div class="container font-quantico">
        <div class="row">

          <div class="col-6">
            <div class="card devices" id="device-one">
              <div class="card-body">
                <h4 class="card-title option-title font-quantico">Stolen Cyberdeck</h4>
                <h6 class="card-subtitle mb-2 text-muted">+1 street / -1 leet</h6>
                <p class="card-text">Can't say for sure where it came from, but it's got...
                                     somebody's shit on it. You can't seem to wipe it clean. Maybe it's got something useful.
                                     Hey, it's yours now.</p>

              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card devices" id="device-two">
              <div class="card-body">
                <h4 class="card-title option-title font-quantico">Samurai Sword</h4>
                <h6 class="card-subtitle mb-2 text-muted">+1 meat / -1 street</h6>
                <p class="card-text">"Hey, you seen that cat with the sword on 16th and Commerce? Nah, fuck that. We bouta find
                                     another corner. That's his corner." Ain't no body fuck with you.</p>
              </div>
            </div>
          </div>

        </div>

        <div class="row mt-4">

          <div class="col-6">
            <div class="card devices" id="device-three">
              <div class="card-body">
                <h4 class="card-title option-title font-quantico">85.44 GB Wordlist</h4>
                <h6 class="card-subtitle mb-2 text-muted">+1 leet / -1 meat</h6>
                <p class="card-text">A prolific assembly of words like "123456 password iloveyou babygirl," all organized
                                     by demographic users: porn_addicts, sports_fans, script_kids.</p>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card devices" id="device-four">
              <div class="card-body font-quantico">
                <h4 class="card-title option-title font-quantico">Fake Work Visa</h4>
                <h6 class="card-subtitle mb-2 text-muted">+1 street / -1 meat</h6>
                <p class="card-text">"You know, my dad worked for Vertico for 25 years. It's a good company. You're not
                                     supposed to be here this time of night, but... you have a good night, sir." </p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <p class="lead m-2 p-2">
    <a id="character-submit" class="btn btn-primary btn-lg btn-purple default-off" href="#" role="button">Submit
                                                                                                     Character</a>
  </p>
</div>

<a href="#">
  <div id="next-button" class="btn default-off text-right">fsfgdsfgdg</div>
</a>

{% endblock %}

{% block buttons %}{% include 'character_new_side.html' %}{% endblock %}

{% block modals %}{% include 'character_wizard_modals.html' %}{% endblock %}

{% block morescript %}
<script src="{{ url_for('static', filename='js/spendpoints.js') }}" defer></script>


{% endblock %}