<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Crime Charged</th>
      <th scope="col">Plea Entered</th>
      <th scope="col">Consequence</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row"><small>Acomplice to Murder/th>
            <td>Not Guilty. Unconvicted.</td>
            <td>Nothing. Just the memory that you let it happen.</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Administering Drugs Without License</th>
            <td>Guilty</td>
            <td>The Addict Treatment for Remainder of Life</td>
    </tr>
 
  </tbody>
</table> 