{% extends 'base.html' %}

{% block sidebar %}
 <div class="card">
 <div class="card-body">
  <h4 class="card-title text-success">{{ campaign.name }}</h4>
   <h6 class="card-subtitle mb-2 text-muted">{{ campaign.descrip }}</h6>
 </div>
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">






   <div class="tab-content">
    <div id="one" class="card-text tab-pane fade show active">

<div class="center">
  <h4 class="font-inline">
    Spend <span id="remaining-points" class="text-info"></span> points on primary attributes.
  </h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 class="font-orbitron ml-5">
        meat: <span id="attribute-one" class="text-danger font-inline display"></span>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="btn btn-sm center btn-primary" onclick="reducePoints(getWizardBar1, attr1)">
        <i class="fa fa-minus fa-sm" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-8">
      <div class="progress bg-primary" id="wizardProgress1">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" id="wizardBar1"
               role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
        </div>
    </div>
    <div class="col-2">
      <div class="btn btn-sm center btn-primary" onclick="increasePoints(getWizardBar1, attr1)">
        <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5 class="font-orbitron ml-5">
        l33t: <span id="attribute-two" class="text-success font-inline"></span>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="btn btn-sm center btn-primary" onclick="reducePoints(getWizardBar2, attr2)">
        <i class="fa fa-minus fa-sm" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-8">
      <div class="progress bg-primary" id="wizardProgress2">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="wizardBar2"
               role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
        </div>
    </div>
    <div class="col-2">
      <div class="btn btn-sm center btn-primary" onclick="increasePoints(getWizardBar2, attr2)">
        <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
      </div>
    </div>
  </div>


    <div class="row">
    <div class="col-12">
      <h5 class="font-orbitron ml-5">
        street: <span id="attribute-three" class="text-purple font-inline"></span>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="btn btn-sm center btn-primary" onclick="reducePoints(getWizardBar3, attr3)">
        <i class="fa fa-minus fa-sm" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-8">
      <div class="progress bg-primary" id="wizardProgress3">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-purple" id="wizardBar3"
               role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
        </div>
    </div>
    <div class="col-2">
      <div class="btn btn-sm center btn-primary" onclick="increasePoints(getWizardBar3, attr3)">
        <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>


    </div>

   <div id="two" class="card-text tab-pane fade">
   <h4 class="text-info">What’s your character’s name?</h4>
   <p>Oh, wait...</p>
   <p>That’s a perk you don’t get at starting level.
     <span class="text-success">Let’s talk about your new email address.</span></p>
   <p>Yeah, the new one. You think you’re just going to log back into a Virtico account down here? Shit. That’s a
          god damn laugh I needed.</p>
   <p>Bitch, where you gonna make your email account at? Where you gonna type in the address to their node on
          what interface with what network? I don’t even want your cool hacker name, bitch.</p>
   <p>You namesless, kid. Just Another Shell Hacker. Remember that.</p>
    </div>
   </div>


<!---->





  <script src="{{ url_for('static', filename='js/spendpoints.js') }}"></script>



{% endblock %}
{% block buttons %}
  {% include 'character_new_side.html' %}
{% endblock %}
