


<div class="nav">
  <a href="#one" data-toggle="tab" class="btn btn-primary nav-link active">Introduction</a>
  <a href="#two" data-toggle="tab" class="btn btn-primary nav-link">Create Character</a>
</div>

<div class="container">
  <div class="row center">

    <div class="btn-group-sm center ml-5 mt-3">


        <button type="button" class="btn btn-warning" title="" data-container="body"
                data-toggle="popover" data-placement="bottom" data-trigger="focus"
                data-content=""
                data-original-title="Having trouble?">Help</button>


    </div>
  </div>
</div>

{% include 'character_wizard_modals.html' %}