


<div class="nav">
  <a href="#one" data-toggle="tab" class="btn btn-primary nav-link active font-orbitron">Attributes</a>
  <a href="#two" data-toggle="tab" class="btn btn-primary nav-link font-orbitron disabled" id="personality-tab">Background</a>
  <a href="#three" data-toggle="tab" class="btn btn-primary nav-link font-orbitron disabled" id="loadout-tab">Loadout</a>

</div>

<div class="container">
  <div class="row center">

    <div class="btn-group-sm center ml-5 mt-3">


        <button type="button" class="btn btn-warning" title="" data-container="body"
                data-toggle="popover" data-placement="bottom" data-trigger="focus"
                data-content=""
                data-original-title="Having trouble?">Help</button>


    </div>
  </div>
</div>