<div class="card border-purple text-light bg-dark mb-2">
  <div class="card-header text-center text-info"><h4>Documentation</h4></div>
  <div class="card-body bg-primary">


<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    The Prototype Campaign
    <span class="badge badge-primary badge-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    The Campaign Setting Specification
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Shell Design and Game Building
    <span class="badge badge-primary badge-pill">1</span>
  </li>
</ul>

      <p class="card-text"></p>
  </div>
</div>
