<div id="accordion-cards" style="display: none;">
    <div class="list-group">
        <a class="btn btn-primary" href="#statusCollapse" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="statusCollapse">
            <div class="card-header bg-dark" id="statusLabel">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>Status
            </div>
        </a>
        <div id="statusCollapse" class="collapse show" aria-labelledby="statusLabel" data-parent="#accordion-cards">
            <div class="card-body">

                           

                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small>Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                 </div>



            </div>
        </div>
    </div>

</div>



<div id="accordion-attributes" class="hidden">
    <div class="list-group">
        <a class="btn btn-primary" href="#statusCollapse2" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="statusCollapse2">
            <div class="card-header bg-dark" id="statusLabel2">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>Attributes
            </div>
        </a>
        <div id="statusCollapse2" class="collapse show" aria-labelledby="statusLabel2" data-parent="#accordion-cards">
            <div class="card-body">

                           

            
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" id="meatOnMenu">
                <span class="font-orbitron">meat</span>
                <span class="badge badge-danger badge-pill" id="meatNumOnMenu">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" id="leetOnMenu">
                    <span class="font-orbitron">leet</span>
                <span class="badge badge-success badge-pill" id="leetNumOnMenu">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" id="streetOnMenu">
                    <span class="font-orbitron">street</span>
                <span class="badge badge-purple badge-pill" id="streetNumOnMenu">1</span>
                </li>
            </ul>

            </div>
        </div>
    </div>

</div>


