{% extends 'base.html' %}

{% block content %}



   <div class="container">
     <div class="alert alert-dismissible alert-success">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <strong>This is a Prototype!</strong> This is just testing and demonstration of possibilities for the game.
     </div>




{% endblock %}


{% block buttons %}
<a id="open-terminal" class="dropdown-item" href="#">
  <span id="terminal-option-listing-open">Terminal Emulator</span>
  <span id="terminal-option-listing-close" class="default-off">Terminal Emulator</span>
</a>
{% endblock %}
