   <div class="container">
     <div class="alert alert-dismissible alert-purple">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <strong>This is a Prototype!</strong> This is just testing and demonstration of possibilities.
     </div>
   </div>
<div class="card">
 <div class="card-body">
  <h2 class="card-title text-success font-quantico">Just Another Shell Hacker</h2>
   <h6 class="card-subtitle mb-2 text-muted">This isn’t your post-1980’s cyberpunk role playing game and it’s not the
                                             far future.</h6>
   <hr>
   <div class="tab-content">
    <div id="one" class="card-text tab-pane fade show active">
      <p>It’s present day -- right the fuck now. You are just another disenfranchised-class, no-name,
         nothing-special-to-him-or-her, get-a-shell-or-die-trying hacker.</p>
      <p>Guess what? You just lost your job, and we’re living in meatspace. Do you know what that’s like, really? I
         mean sure, you've been down here before, but we're real deep into meatspace right now. You know how it’s
         different for jobless people like us?</p>
      <p>There’s no cloud virtualization reality server to go back to when the party’s over. You want to judge me
         from the neural net? I can’t even login to my own name. And now neither can you.</p>
      <p>So let’s see how far you can get out of this cesspool and back to verified status to operate in the
         confines of the corporate fucking rule of this planet -- where everything worth living for exists in
         geocentric orbit with trash, debris, and the view of Earth from up <em>here</em> behind so much cloudy dust and
         bullshit you can’t even really see how bad it is down <em>there</em>.</p>
      <p>Correction: Down <em>here</em>, motherfucker. Check your privilege -- you ain’t got none anymore. This is
         where we live. This is how we live.</p>
      <p>This isn’t what you want to do. And this isn’t what you plan to do.</p>
      <p>Stick around, kid. You’re not going to find the typical cyberpunk classes and roles to play here. You are a
         hacker. You’re just another one. We’re all hackers.</p>
      <p>Let’s see what’s going to happen real quick if you’re not.</p>
    </div>

   <div id="two" class="card-text tab-pane fade">
   <h4 class="text-info">What’s your character’s name?</h4>
   <p>Oh, wait...</p>
   <p>That’s a perk you don’t get at starting level.
     <span class="text-success">Let’s talk about your new email address.</span></p>
   <p>Yeah, the new one. You think you’re just going to log back into a Virtico account down here? Shit. That’s a
          god damn laugh I needed.</p>
   <p>Bitch, where you gonna make your email account at? Where you gonna type in the address to their node on
          what interface with what network? I don’t even want your cool hacker name, bitch.</p>
   <p>You namesless, kid. Just Another Shell Hacker. Remember that.</p>
    </div>
   </div>

     </div>
   </div>
