<div id="top-nav" class="fixed-top">
<ul class="top-nav nav-tabs bg-primary container-fluid">

<!-- Account Dropdown -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
     href="#">
    Account
  </a>

  <div class="dropdown-menu bg-dark">
    <div id="account-menu-div">
      {% if not current_user.is_verified %}
        <a id="account-menu-get-verified" class="dropdown-item" href="{{ url_for('auth.verify_request') }}">
          <strong><span class="text-warning">Get Verified</span></strong>
        </a>
      {% endif %}

      <a id="account-menu-player-profile" class="dropdown-item" href="{{ url_for('users.player_profile') }}">
        <span>Player Profile</span>
      </a>

      {% if current_user.gamemaster.access > 0 %}
        <a id="account-menu-gm-profile" class="dropdown-item inactive" href="{{ url_for('users.gamemaster_profile') }}">
          <span>GameMaster Profile</span>
        </a>
      {% endif %}

      <a id="account-menu-settings" class="dropdown-item" href="{{ url_for('users.user_settings') }}">
        <span>Settings</span>
      </a>

      <a id="account-menu-logout" class="dropdown-item" href="{{ url_for('auth.logout') }}">
        <span>Logout</span>
      </a>
    </div>
  </div>
</li>

<!-- View Dropdown Button -->
 <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
       href="#">
      Browse
    </a>

   <div class="dropdown-menu bg-dark">
     <div id="browse-menu-div" class="inactive">
       <a id="browse-menu-campaigns" class="dropdown-item" href="{{ url_for('campaigns.all_campaigns') }}">
         <span>Campaigns</span>
       </a>

       <a id="browse-menu-open-link" class="dropdown-item" href="#">
         <span>Characters</span>
       </a>
     </div>
   </div>
 </li>

<!-- View Dropdown Button -->
<li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     View
   </a>

  <div class="dropdown-menu bg-dark">
    <div id="view-menu-div" class="inactive">
     <a id="open-terminal" class="dropdown-item" href="#">
       <span id="terminal-option-listing-open">Open Terminal</span>
       <span id="terminal-option-listing-close" class="default-off">Close Terminal</span>
     </a>
    </div>
  </div>
</li>

<!-- Tools Dropdown -->
<!--<li class="nav-item dropdown">-->
<!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--   Tools-->
<!-- </a>-->

<!-- <div class="dropdown-menu bg-dark">-->
<!--   <a id="open-terminal" class="dropdown-item" href="#">-->
<!--    <span id="terminal-option-listing-open">Open Terminal</span>-->
<!--    <span id="terminal-option-listing-close" class="default-off">Close Terminal</span>-->
<!--   </a>-->
<!-- </div>-->
<!--</li>-->

<!-- Help Dropdown -->
<!--<li class="nav-item dropdown">-->
<!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
<!--   Help-->
<!-- </a>-->

<!--  &lt;!&ndash; Dropdown 1  &ndash;&gt;-->
<!--   <div class="dropdown-menu bg-dark">-->
<!--    <a id="help-menu-docs" class="dropdown-item" href="{{ url_for('main.docs') }}">-->
<!--      <span>Documentation</span>-->
<!--    </a>-->
<!--    <a id="help-menu-about" class="dropdown-item" href="#">-->
<!--      <span>About</span>-->
<!--    </a>-->
<!--   </div>-->

</li>
</ul>
</div>