<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-item nav-link" href="#">
      
      <i class="fa fa-play-circle" aria-hidden="true"></i>
      <span class="">Plays</span></a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
            <span class="">Status</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            <span class="">Intel</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-binoculars" aria-hidden="true"></i>
            <span class="">Watch</span></a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span class="">Mission</span></a>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
            <span class="">Contact</span></a>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  