{% extends 'base.html' %}

{% block sidebar %}{% endblock %}
{% block leftbaralt %}{% endblock %}
{% block rightbaralt %}{% endblock %}

{% block content %}

<!--"1"-->
  <div>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Reset Password</legend>


<!--   Password     -->
        <div class="form-group">
          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{error}}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
        </div>

<!--   Password Confirm    -->
        <div class="form-group">
          {% if form.password_confirm.errors %}
            {{ form.password_confirm(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password_confirm.errors %}
                <span>{{error}}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password_confirm(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <!--   Submit   -->
        <div class="form-inline float-left" style="width:57%;">
          {{ form.submit(class="btn btn-lg btn-block btn-purple") }}
        </div>

      </fieldset>
    </form>

  </div>

<!--"2"-->

{% endblock %}

{% block buttons %}{% endblock %}