{% extends 'base.html' %}

{% block sidebar %}

<a id="menu-btn" href="#">Menu</a>
  <div class="menu" style="margin: -900px;">
    <ul>
      <li><a href="#">This is a link 1</a></li>
      <li><a href="#">This is a link 2</a></li>
      <li><a href="#">This is a link 3</a></li>
      <li><a href="#">This is a link 4</a></li>
      <li><a href="#">This is a link 5</a></li>
    </ul>
  </div>

{% endblock %}

{% block content %}



<div class="jumbotron noselect">

  <hr class="my-4">

    <div class="container">
      <div class="row">

        <div class="col-6">
          <div class="card devices" id="device-one">
            <div class="card-body">
              <h4 class="card-title font-quantico">Paranoid</h4>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card devices" id="device-two">
            <div class="card-body">
              <h4 class="card-title font-quantico">Addict</h4>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-4">

        <div class="col-6">
          <div class="card devices" id="device-three">
            <div class="card-body">
              <h4 class="card-title font-quantico">3</h4>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card devices" id="device-four">
            <div class="card-body font-quantico">
              <h4 class="card-title">4</h4>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
        </div>

      </div>

      </div>


    </div>







d



<script src="{{ url_for('static', filename='js/testing.js') }}"></script>
{% endblock %}

{% block buttons %}{% endblock %}
