{% extends 'base.html' %}

{% block sidebar %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mbr.css') }}">

<a id="menu-btn" href="#">Menu</a>
  <div class="menu" style="margin: -900px;">
    <ul>
      <li><a href="#">This is a link 1</a></li>
      <li><a href="#">This is a link 2</a></li>
      <li><a href="#">This is a link 3</a></li>
      <li><a href="#">This is a link 4</a></li>
      <li><a href="#">This is a link 5</a></li>
    </ul>
  </div>

{% endblock %}

{% block content %}



<div class="jumbotron noselect">

  <hr class="my-4">

    <div class="container">
      
      <h2 class="font-seymour">DSfdsf ads dsa dfdsf s s</h2>
      <h2 class="font-quantico">DSfdsf ads dsa dfdsf s s</h2>

      <h2 class="font-inline">DSfdsf ads dsa dfdsf s s</h2>

      <h2 class="font-orbitron">DSfdsf ads dsa dfdsf s s</h2>

      <h2 class="font-share">DSfdsf ads dsa dfdsf s s</h2>


    </div>

</div>








<script src="{{ url_for('static', filename='js/testing.js') }}"></script>
{% endblock %}

{% block buttons %}{% endblock %}
