/* Just selectors I have to add myself */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic {
  width: 200px;
  display: block;
  object-fit: cover;
}



body {
    margin: 0;
    padding: 0;
}

#terminal {
    width: 100%;
    height: 100%;
}

/* not sure about this */
.wrapper {
    display: block;
    width: 100%;
    height: 100%;
}

#vanilla-terminal {
    width: 100%;
    bottom: 0;
  }

.toggle-off {
    display: none;s
}

.inner {
    margin: 2em;
    }

    .divcls
    {

      width:300px;
      background:#fff;
      border: solid 1px #355681;
      padding:20px;

      }
    label {
      display: inline-block; width: 7em;
      }


    input, select {
      padding: 9px;
      border: solid 1px #4B718B;
      outline: 0;
      width: 200px;
      box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
      -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
      -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

      }

    .default-off {
      display: none;
      }


      .divcls
      {

        width:300px;
        background:#fff;
        border: solid 1px #355681;
        padding:20px;

        }
      label {
        display: inline-block; width: 7em;
        }


      input, select {
        padding: 9px;
        border: solid 1px #4B718B;
        outline: 0;
        width: 200px;
        box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

        }

      .default-off {
        display: none;
        } */
